[submodule "it-brasil/it_brasil"]
	path = it-brasil/it_brasil
	url = git@github.com:it-brasil/it_brasil.git
	branch = main

[submodule "OCA/currency"]
	path = OCA/currency
	url = git@github.com:OCA/currency.git
	branch = 14.0

[submodule "OCA/bank-payment"]
	path = OCA/bank-payment
	url = git@github.com:OCA/bank-payment.git
	branch = 14.0
